body {
    margin: 0;
    background-color: #1b244a;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

#home-score{
        font-size: 90px;
        text-align: center;
        color: #F94F6D;
        background: #080001;
        width: 6rem;
        margin: 20px;
}

#guest-score{
     font-size: 90px;
        text-align: center;
        color: #F94F6D;
        background: #080001;
        width: 6rem;
        margin: 20px;
}

button{
    background-color: #1b244a;
    padding: 10px;
    border-color: #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
}